
body {
    font-family: var(--font-family-regular), sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.title {
    font-family: var(--font-family-bold), sans-serif;
    text-align: center;
    font-size: 42px;
}


.form-section {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    gap: 20px;
}

.contact-form_input {
    width: 100%;
    padding: 10px 13px;
    font-family: var(--font-family-regular), sans-serif;
    font-size: 16px;


    border: 1px solid #000;
    border-radius: 10px;

    outline: none;
}

.contact-form_input:focus {
    border-color: rgba(161, 67, 10, 0.98);
}

.contact-form_input:hover {
    transition: 0.2s;
    background: #c8c7c7;
    border: 1px solid #c8c7c7;
}

.contact-form_input::placeholder {
    color: #424040;
}

.button {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background: none;

    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.add_button:hover, .clear_list:hover, .search_button:hover, .create_button:hover, .delete_button:hover {
    transition: 0.2s;
    background: #c8c7c7;
    border: 1px solid #c8c7c7;
}

.content-section__item {
    display: flex;
    gap: 15px;
}

.content-section-text {
    font-family: var(--font-family-bold), sans-serif;
    font-size: 16px;
}


.button_heard {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #000;
    color: #fff;

    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}


.active {
    background: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}

.contact-item {

    display: flex;
    gap: 15px;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
}


.delete-button {
    padding: 15px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    background: none;
    font-family: inherit;
    font-size: 16px;
}